2025-1/sesion-de-clase-20/SoftProgNet/SoftProgWeb/Connected Services/SoftProgWS/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="buscarClientePorDni" type="tns:buscarClientePorDni" />
  <xs:element name="buscarClientePorDniResponse" type="tns:buscarClientePorDniResponse" />
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="guardarCliente" type="tns:guardarCliente" />
  <xs:element name="guardarClienteResponse" type="tns:guardarClienteResponse" />
  <xs:element name="listarClientes" type="tns:listarClientes" />
  <xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />
  <xs:element name="obtenerCliente" type="tns:obtenerCliente" />
  <xs:element name="obtenerClienteResponse" type="tns:obtenerClienteResponse" />
  <xs:complexType name="obtenerCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element name="lineaCredito" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element name="genero" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="modeloBase">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarClientePorDni">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarClientePorDniResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarClienteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="categoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clasico" />
      <xs:enumeration value="VIP" />
      <xs:enumeration value="Platinum" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>