2025-1/sesion-de-clase-17/SoftProgNet/SoftProgWeb/Connected Services/SoftProgWS/AreaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminar" type="tns:eliminar" />
  <xs:element name="eliminarResponse" type="tns:eliminarResponse" />
  <xs:element name="guardar" type="tns:guardar" />
  <xs:element name="guardarResponse" type="tns:guardarResponse" />
  <xs:element name="listar" type="tns:listar" />
  <xs:element name="listarResponse" type="tns:listarResponse" />
  <xs:element name="obtener" type="tns:obtener" />
  <xs:element name="obtenerResponse" type="tns:obtenerResponse" />
  <xs:complexType name="obtener">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="modeloBase">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminar">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardar">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" type="tns:area" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>