2025-2/sesion-de-clase-23/dotnet/SoftProgWeb/Connected Services/SoftProgWS/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/ProductoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="obtenerProducto">
    <part name="parameters" element="tns:obtenerProducto" />
  </message>
  <message name="obtenerProductoResponse">
    <part name="parameters" element="tns:obtenerProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <message name="guardarProducto">
    <part name="parameters" element="tns:guardarProducto" />
  </message>
  <message name="guardarProductoResponse">
    <part name="parameters" element="tns:guardarProductoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="listarProductos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="obtenerProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductoRequest" message="tns:obtenerProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/obtenerProductoResponse" message="tns:obtenerProductoResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
    <operation name="guardarProducto">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/guardarProductoRequest" message="tns:guardarProducto" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoWS/guardarProductoResponse" message="tns:guardarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/ProductoWS" />
    </port>
  </service>
</definitions>