2025-2/sesion-de-clase-19/.net/SoftProgWeb/Connected Services/SoftProgWS/CuentaUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentaUsuarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftProgWS/CuentaUsuarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="guardarCuentaUsuario">
    <part name="parameters" element="tns:guardarCuentaUsuario" />
  </message>
  <message name="guardarCuentaUsuarioResponse">
    <part name="parameters" element="tns:guardarCuentaUsuarioResponse" />
  </message>
  <message name="eliminarCuentaUsuario">
    <part name="parameters" element="tns:eliminarCuentaUsuario" />
  </message>
  <message name="eliminarCuentaUsuarioResponse">
    <part name="parameters" element="tns:eliminarCuentaUsuarioResponse" />
  </message>
  <message name="obtenerCuentaUsuario">
    <part name="parameters" element="tns:obtenerCuentaUsuario" />
  </message>
  <message name="obtenerCuentaUsuarioResponse">
    <part name="parameters" element="tns:obtenerCuentaUsuarioResponse" />
  </message>
  <message name="listarCuentasUsuario">
    <part name="parameters" element="tns:listarCuentasUsuario" />
  </message>
  <message name="listarCuentasUsuarioResponse">
    <part name="parameters" element="tns:listarCuentasUsuarioResponse" />
  </message>
  <portType name="CuentaUsuarioWS">
    <operation name="login">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/loginRequest" message="tns:login" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/loginResponse" message="tns:loginResponse" />
    </operation>
    <operation name="guardarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/guardarCuentaUsuarioRequest" message="tns:guardarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/guardarCuentaUsuarioResponse" message="tns:guardarCuentaUsuarioResponse" />
    </operation>
    <operation name="eliminarCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuarioRequest" message="tns:eliminarCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/eliminarCuentaUsuarioResponse" message="tns:eliminarCuentaUsuarioResponse" />
    </operation>
    <operation name="obtenerCuentaUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioRequest" message="tns:obtenerCuentaUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/obtenerCuentaUsuarioResponse" message="tns:obtenerCuentaUsuarioResponse" />
    </operation>
    <operation name="listarCuentasUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentasUsuarioRequest" message="tns:listarCuentasUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CuentaUsuarioWS/listarCuentasUsuarioResponse" message="tns:listarCuentasUsuarioResponse" />
    </operation>
  </portType>
  <binding name="CuentaUsuarioWSPortBinding" type="tns:CuentaUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="guardarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuentasUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentaUsuarioWS">
    <port name="CuentaUsuarioWSPort" binding="tns:CuentaUsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SoftProgWS/CuentaUsuarioWS" />
    </port>
  </service>
</definitions>