2025-1/sesion-de-clase-18/SoftProgNet/SoftProgWeb/Connected Services/SoftProgWS/OrdenVentaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarOrdenVenta" type="tns:eliminarOrdenVenta" />
  <xs:element name="eliminarOrdenVentaResponse" type="tns:eliminarOrdenVentaResponse" />
  <xs:element name="guardarOrdenVenta" type="tns:guardarOrdenVenta" />
  <xs:element name="guardarOrdenVentaResponse" type="tns:guardarOrdenVentaResponse" />
  <xs:element name="listarOrdenesVenta" type="tns:listarOrdenesVenta" />
  <xs:element name="listarOrdenesVentaResponse" type="tns:listarOrdenesVentaResponse" />
  <xs:element name="obtenerOrdenVenta" type="tns:obtenerOrdenVenta" />
  <xs:element name="obtenerOrdenVentaResponse" type="tns:obtenerOrdenVentaResponse" />
  <xs:complexType name="obtenerOrdenVenta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerOrdenVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenVenta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
          <xs:element minOccurs="0" name="empleado" type="tns:empleado" />
          <xs:element minOccurs="0" name="fechaHora" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasOrdenVenta" nillable="true" type="tns:lineaOrdenVenta" />
          <xs:element name="total" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="modeloBase">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element name="lineaCredito" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
          <xs:element name="genero" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element minOccurs="0" name="cargo" type="xs:string" />
          <xs:element minOccurs="0" name="cuentaUsuario" type="tns:cuentaUsuario" />
          <xs:element name="sueldo" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="lineaOrdenVenta">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="ordenVenta" type="tns:ordenVenta" />
          <xs:element minOccurs="0" name="producto" type="tns:producto" />
          <xs:element name="subTotal" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:modeloBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="nombre" type="xs:string" />
          <xs:element name="precio" type="xs:double" />
          <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="guardarOrdenVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ordenventa" type="tns:ordenVenta" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarOrdenVentaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesVenta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenesVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenVenta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenVenta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenVentaResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="categoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Clasico" />
      <xs:enumeration value="VIP" />
      <xs:enumeration value="Platinum" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>